{% extends "layout.tmpl" %}
{% block head %}
 <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    $("#submit").click(function(){
        alert("The element isn't read yet");
    });

</script>
<script>
$(function(){
    $("#submit").click(function(){
        var amount = document.getElementById("amount").value;
        var unit = document.getElementById("unit").value;
        param = amount + " " + unit;

        var results = document.getElementById("results")
        $.ajax({
            url: "http://" + location.host + "/rpc", 

            data: JSON.stringify({ params: [param], method: "convert_units_to_ml", id: 1 }),  // id is needed !!

            type:"POST",

            cache: false,

            dataType:"json",

            contentType:"application/json",
            
            success:  function (data)       { results.innerHTML = 'Conversion: ' + param + " = " + data.result + " ml";},
            error: function (err, e)  { alert (e);}
         });
    });
});
</script>
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span8">
            <form class="form-horizontal" onkeypress="return event.keyCode != 13;">
                <div class="control-group">
                    <label for="amount" class="control-label">Amount of Liquid:</label>
                    <div class="controls">
                        <input type="text" name="amount" id="amount" size="20">
                    </div>
                </div>

                <div class="control-group">
                    <label for="unit" class="control-label">Unit:</label>
                    <div class="controls">
                        <select name="unit" id="unit">
                            <option value="oz">oz</option>
                            <option value="gallon">gallons</option>
                            <option value="liter">liters</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input id="submit" value="Submit" type="button" name="submit" class="btn btn-primary" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <span id="results" ></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}