{% extends "layout.tmpl" %}
{% block head %}
 <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    $("#submit").click(function(){
        alert("The element isn't read yet");
    });

</script>
<script>
$(function(){
    $("#submit").click(function(){
        // $.post(location.host + "/rpc",
        // { 
        //     url: location.host, 

        //     data: {"params": ["10 oz"], "method": "convert_units_to_ml", "id": 1},  // id is needed !!

        //     type:"POST",

        //     dataType:"json",
        //     success:  function (data)       { alert("The result is : " + data.result);},
        //     error: function (err)  { alert ("Error");}
        // }
        var myData = {"params": ["10 oz"], "method": "convert_units_to_ml", "id": 1};
        $.ajax({
            url: "http://" + location.host + "/rpc", 

            data: myData,  // id is needed !!

            type:"POST",

            dataType:"application/json",
            success:  function (data)       { alert("The result is : " + data.result);},
            error: function (err)  { alert ("Error");}
         });
    });
});
</script>
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span8">
            <form class="form-horizontal">
                <div class="control-group">
                    <label for="amount" class="control-label">Amount of Liquid:</label>
                    <div class="controls">
                        <input type="text" name="amount" id="amount" size="20">
                    </div>
                </div>

                <div class="control-group">
                    <label for="unit" class="control-label">Unit:</label>
                    <div class="controls">
                        <select name="unit" id="unit">
                            <option value="oz">oz</option>
                            <option value="gallon">gallons</option>
                            <option value="liter">liters</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        
                    </div>
                </div>
            </form>
            <input id="submit" value="Submit" type="button" name="submit" class="btn btn-primary" />
        </div>
    </div>
{% endblock %}