{% extends "layout.tmpl" %}

{% block content %}
    <div class="row-fluid">
        <div class="span8">
            <form class="form-inline" action="/recv_recipe">

                <div class="control-group">
                    <div class="controls">
                        <input type="text" name="name" id="name" size="20" placeholder="Name">
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="text" name="typ0" id="typ0" size="20" placeholder="Bottle Type">
                        <input type="text" name="amount0" id="amount0" size="20" placeholder="Amount">
                        <select name="unit0" id="unit0">
                            <option value="oz">oz</option>
                            <option value="gallon">gallons</option>
                            <option value="liter">liters</option>
                            <option value="ml">mL</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="text" name="typ1" id="typ1" size="20" placeholder="Bottle Type">
                        <input type="text" name="amount1" id="amount1" size="20" placeholder="Amount">
                        <select name="unit1" id="unit1">
                            <option value="oz">oz</option>
                            <option value="gallon">gallons</option>
                            <option value="liter">liters</option>
                            <option value="ml">mL</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="text" name="typ2" id="typ2" size="20" placeholder="Bottle Type">
                        <input type="text" name="amount2" id="amount2" size="20" placeholder="Amount">
                        <select name="unit2" id="unit2">
                            <option value="oz">oz</option>
                            <option value="gallon">gallons</option>
                            <option value="liter">liters</option>
                            <option value="ml">mL</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="text" name="typ3" id="typ3" size="20" placeholder="Bottle Type">
                        <input type="text" name="amount3" id="amount3" size="20" placeholder="Amount">
                        <select name="unit3" id="unit3">
                            <option value="oz">oz</option>
                            <option value="gallon">gallons</option>
                            <option value="liter">liters</option>
                            <option value="ml">mL</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="text" name="typ4" id="typ4" size="20" placeholder="Bottle Type">
                        <input type="text" name="amount4" id="amount4" size="20" placeholder="Amount">
                        <select name="unit4" id="unit4">
                            <option value="oz">oz</option>
                            <option value="gallon">gallons</option>
                            <option value="liter">liters</option>
                            <option value="ml">mL</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="text" name="typ5" id="typ5" size="20" placeholder="Bottle Type">
                        <input type="text" name="amount5" id="amount5" size="20" placeholder="Amount">
                        <select name="unit5" id="unit5">
                            <option value="oz">oz</option>
                            <option value="gallon">gallons</option>
                            <option value="liter">liters</option>
                            <option value="ml">mL</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="text" name="typ6" id="typ6" size="20" placeholder="Bottle Type">
                        <input type="text" name="amount6" id="amount6" size="20" placeholder="Amount">
                        <select name="unit6" id="unit6">
                            <option value="oz">oz</option>
                            <option value="gallon">gallons</option>
                            <option value="liter">liters</option>
                            <option value="ml">mL</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="text" name="typ7" id="typ7" size="20" placeholder="Bottle Type">
                        <input type="text" name="amount7" id="amount7" size="20" placeholder="Amount">
                        <select name="unit7" id="unit7">
                            <option value="oz">oz</option>
                            <option value="gallon">gallons</option>
                            <option value="liter">liters</option>
                            <option value="ml">mL</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="text" name="typ8" id="typ8" size="20" placeholder="Bottle Type">
                        <input type="text" name="amount8" id="amount8" size="20" placeholder="Amount">
                        <select name="unit8" id="unit8">
                            <option value="oz">oz</option>
                            <option value="gallon">gallons</option>
                            <option value="liter">liters</option>
                            <option value="ml">mL</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="text" name="typ9" id="typ9" size="20" placeholder="Bottle Type">
                        <input type="text" name="amount9" id="amount9" size="20" placeholder="Amount">
                        <select name="unit9" id="unit9">
                            <option value="oz">oz</option>
                            <option value="gallon">gallons</option>
                            <option value="liter">liters</option>
                            <option value="ml">mL</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}